@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,900;1,900&display=swap");

:root {
  --blue: #1e90ff;
  --white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto Slab", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*navbar styling*/

nav {
  text-align: center;
}
.max-width {
  text-align: center;
  margin: auto;
}
.navbar {
  width: 100%;
  text-align: center;
}
.navbar h1 {
  color: rgba(231, 127, 0, 0.888);
  font-size: 45px;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.navbar .max-width span {
  color: #222222cb;
  font-size: 44px;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
nav h3 {
  margin-top: -10px;
  font-size: 15px;
  color: #222;
  word-spacing: 2px;
  letter-spacing: 2px;
}
nav h4 {
  margin-top: 0px;
  margin-bottom: -10px;
  font-size: 10px;
  color: #222;
  word-spacing: 2px;
  letter-spacing: 2px;
}
/*navigation bar*/
.navigation {
  background: #222;
  padding: 10px 0px;
  text-align: center;
  font-size: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}
.navigation i {
  color: #fffae4;
  padding: 10px;
}

/*carousel*/
#carouselExampleFade .w-100 {
  height: 300px;
  object-fit: cover;
  object-position: center; 
}

/*div before form*/
.texth2 {
  padding-top: 30px;
  text-align: center;
  font-size: 25px;
}

.texth2 h2 {
  color: #3d3e3f;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: -2px;
  word-spacing: -5px;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
}

/*form*/
.form {
  color: #565a5c;
  border: 1px solid #565a5c46;
  outline: none;
  background: none;
  padding: 5px 0px;
  border-radius: 5px;
}

.button-container {
  display: flex;
  column-gap: 30px;
  justify-content: center;
}

.book-btn {
  text-align: center;
  padding: 10px;
  width: 100%;
}

.submit-btn {
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 90%;
  background: #393;
  color: #fff;
}

form div span {
  text-align: left;
  font-size: 12px;
  font-weight: bolder;
  color: #565a5c;
}

/*cards rooms*/
.container-cards {
  justify-content: center;
  width: 100%;
}
.cards-title {
  width: 70%;
  margin: auto;
}
.container-cards .cards-title h2 {
  color: #3d3e3f;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -2px;
  word-spacing: -5px;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  text-align: center;
}
.cc1 {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.card {
  text-align: center;
  justify-content: center;
  width: 90%;
  height: 200px;
  margin: auto;
  margin-bottom: 30px;
}
.container-cards .card .card-body .card-title {
  font-weight: bolder;
  color: #5b5b5b;
}
.card img {
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.container-cards .card .card-body a {
  color: #fff;
  color: var(--white);
  background-color: #eecc33;
}
.container-cards .card .card-body .card-text {
  color: #999999;
}
.container-cards .card .card-body i {
  color: #4392b0;
  padding: 2px;
}
.border-white h2 {
  color: #3d3e3f;
  font-size: 25px;
  font-weight: 900;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  text-align: center;
}
.fa-instagram {
  font-size: 40px;
  color: #dc3838cc;
}

#carouselExampleSlidesOnly .w-100 {
  height: 500px;
  object-fit: cover;
  object-position: center;
}

@media only screen and (min-width: 740px) {

/*navigation bar*/
.navigation {
  background: #222;
  padding: 10px 0px;
  text-align: center;
  font-size: 45px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}
.navigation i {
  color: #fffae4;
  padding: 20px;
}

  .navbar h1 {
    font-size: 85px;
  }
  .navbar .max-width span {
    font-size: 84px;
  }
  nav h3 {
  margin-top: -10px;
  font-size: 22px;
  color:#222;
  word-spacing: 2px;
  letter-spacing: 2px;
}
nav h4 {
  margin-top: 0px;
  margin-bottom: -10px;
  font-size: 20px;
  color: #222;
  word-spacing: 2px;
  letter-spacing: 2px;
}

.submit-btn {
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 50%;
  background: #393;
  color: #fff;
}

.button-container {
  display: flex;
  column-gap: 50px;
  justify-content: center;
}

  #carouselExampleFade .w-100 {
    height: 600px;
    object-fit: cover;
    object-position: center;
  }
  div .cc1 {
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 500px;
    margin: auto;
    margin-bottom: 30px;
  }
  .card img {
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
  #carouselExampleSlidesOnly .w-100 {
    height: 600px;
    object-fit: cover;
    object-position: center;
  }
}
@media only screen and (min-width: 1240px) {
  #carouselExampleFade .w-100 {
    height: 700px;
    object-fit: cover;
    object-position: center;
  }
  div .cc1 {
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 600px;
    margin: auto;
    margin-bottom: 30px;
  }
  .card img {
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
  #carouselExampleSlidesOnly .w-100 {
    height: 700px;
    object-fit: contain;
    object-position: center;
  }
}
